@use '@/styles/variables' as *;

.button {
  width: 100%;
  padding: 18px;
  font-size: 14px;
  font-weight: 600;
  font-family: $font-family;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-primary;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;

  @include small-phone {
    padding: 14px;
    font-size: 13px;
  }

  &:hover {
    background-color: $color-primary-dark;
  }

  &:active {
    transform: scale(0.99);
  }
}
